# ABR Parameter file for click IO
# All times in seconds, freq in Hz
protocol: 
    protocolname: 'clickIO'
    stimulustype: 'click'

stimuli: 
    wave_duration: 1.2  # sweep or wave duration in seconds
    stimulus_duration: 1e-4  # inividual stimulus duration (click) seconds
    stimulus_risefall: 5e-4  # r/f - not used for clicks, seconds
    nstim: 40  # number of stimuli in the sweep
    delay: 0.003 # delay to first stimulus, seconds
    interval: 25e-3  # interval between stimuli (clicks) in seconds
    nreps: 20  # number of reps 
    default_frequency: 4000.0  # not used for clicks
    default_spl: 80.0  # test spl level
    stimulus_period: 1e-2  # 
    alternate: True  # alternate polarity or not for successive clicks
    dblist: [90.0, 85.0, 80.0, 75.0, 70.0, 65.0, 60.0, 55.0, 50.0, 45.0, 40.0, 35.0, 30.0, 25.0, 20.0, 15.0, 10.0]
    freqlist: []
recording: 
    record_dur: 8e-3  # cue for analysis
    LPF: 3000.0  # for analysis

