# ABR Parameter file for tone pips
# 
protocol: 
    protocol: 'interleaved_plateau_tones'
    stimulustype: 'interleaved_plateau'

stimuli:
    wave_duration: 1.2  # seconds
    stimulus_duration: 5e-3  # seconds
    stimulus_risefall: 5e-4  # seconds
    nstim: 8
    delay: 0.005 # seconds
    interval: 25e-3  # between clicks
    nreps: 100
    default_spl: 80.0
    stimulus_period: 0.015  # seconds between pips
    alternate: True
    default_frequency:  4000.0
    default_spl:  80.0
    freqlist:  "[4000.0, 48000.0]"
    dblist:  "[30., 90.]" 

recording:
    record_dur:  10e-3  # seconds per stimulus
    LPF:  3000.0  # low pass filtering frequency, Hz
